/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal container */
  .modal-container {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  /* Modal buttons */
  .modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .confirm {
    background-color: #8c6751;
    color: #fff;
  }
  
  .confirm:hover {
    background-color: #6c4a37;
  }
  
  .cancel {
    background-color: #ccc;
    color: #000;
  }
  
  .cancel:hover {
    background-color: #bbb;
  }
  