/* Estilos comunes */
.button {
  padding: 10px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.button:hover {
  opacity: 0.9;
}

.button-primary {
  background-color: #007bff;
  color: #fff;
}

.button-primary:hover {
  background-color: #0056b3;
}

.button-green {
  background-color: #28a745;
  color: #fff;
}

.button-green:hover {
  background-color: #218838;
}

.button-danger {
  background-color: #dc3545;
  color: #fff;
}

.button-danger:hover {
  background-color: #c82333;
}

.button-secondary {
  background-color: #6c757d;
  color: #fff;
}

.button-secondary:hover {
  background-color: #5a6268;
}

.container {
  max-width: 35%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.users-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.edit-users-container{
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Estilos específicos de la pantalla de usuarios */
.users-screen .users-content {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.users-screen h1 {
  text-align: center;
}

.users-screen .user-list-table-container {
  overflow-x: auto;
}

.users-screen .user-list-table {
  width: 100%;
  border-collapse: collapse;
}

.users-screen .user-list-table th,
.users-screen .user-list-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.users-screen .sticky-header th {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  z-index: 1;
}

/* Estilos específicos de la pantalla de edición de usuario */
.edit-user-screen {
  max-width: 1000px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrado horizontal */
  padding: 20px;
  box-sizing: border-box;
}

.edit-user-screen h2 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-user-screen .form-row {
  display: flex;
  flex-wrap: flex; /* Envuelve elementos si no caben en una fila */
  gap: 20px; /* Espacio entre elementos */
}

.edit-user-screen .form-row label {
  flex: 1; /* Ocupa todo el ancho disponible */
  margin-bottom: 5px;
}

.edit-user-screen input[type="text"],
.edit-user-screen input[type="email"],
.edit-user-screen select {
  width: 100%; /* Ancho completo */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit-user-screen .button-container {
  display: flex;
  justify-content: space-between; /* Espacia los botones horizontalmente */
  margin-top: 20px; /* Espacio arriba de los botones */
}

<<<<<<< Updated upstream
.edit-button {
  background-color: #007bff;
=======
.edit-user-screen .button-container button {
  flex-basis: calc(50% - 5px); /* Ancho del 50% menos el espacio entre elementos */
>>>>>>> Stashed changes
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .edit-user-screen .form-row {
    flex-direction: column; /* Cambia a una columna en pantallas pequeñas */
  }

  .edit-user-screen input[type="text"],
  .edit-user-screen input[type="email"],
  .edit-user-screen select {
    width: 100%; /* Ancho completo en pantallas pequeñas */
  }
}


/* Container for Change Password Screen */
.password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Header for the Change Password Screen */
.password-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form for Change Password */
.password-form {
  display: flex;
  flex-direction: column;
}

/* Form group for individual form elements */
.form-group {
  margin-bottom: 15px;
}

/* Labels for form elements */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Input fields for passwords */
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
}

/* Submit button for the form */
.password-submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.password-submit-button:hover {
  background-color: #0056b3;
  opacity: 0.9;
}

/* Cancel button for the form */
.email-cancel-button,
.password-cancel-button {
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  margin-top: 10px;
}

.email-cancel-button:hover,
.password-cancel-button:hover {
  background-color: #5a6268;
  opacity: 0.9;
}

/* Error message styling */
.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

/* Container for Change Email Screen */
.email-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Header for the Change Email Screen */
.email-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form for Change Email */
.email-form {
  display: flex;
  flex-direction: column;
}

/* Labels for form elements */
.email-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

/* Input fields for email and password */
.email-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.email-form input:focus {
  outline: none;
  border-color: #007bff;
}

/* Submit button for the form */
.email-submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.email-submit-button:hover {
  background-color: #0056b3;
  opacity: 0.9;
}

/* Error message styling */
.email-container p[style*="color: red"] {
  color: red;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

/* Success message styling */
.email-container p[style*="color: green"] {
  color: green;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

/* Estilos para el componente SignIn */
.signin-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signin-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.signin-container form {
  display: flex;
  flex-direction: column;
}

.signin-container label {
  margin-bottom: 5px;
}

.signin-container input[type="email"],
.signin-container input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.signin-container input:focus {
  outline: none;
  border-color: #007bff;
}

.signin-container button[type="submit"],
.signin-container button[type="button"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  margin-bottom: 10px;
}

.signin-container button[type="submit"]:hover,
.signin-container button[type="button"]:hover {
  background-color: #0056b3;
  opacity: 0.9;
}

.signin-container a {
  text-align: center;
  text-decoration: none;
  color: #007bff;
}

.signin-container a:hover {
  text-decoration: underline;
}

.signin-container p {
  color: red;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.signin-container .back-to-main-page {
  text-align: center;
}

.signin-container .back-to-main-page button {
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.signin-container .back-to-main-page button:hover {
  background-color: #5a6268;
  opacity: 0.9;
}

/* Estilos para el componente SignUp */
.signup-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.signup-container h1 {
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Añadir espacio entre los elementos en la fila */
}

.form-group {
  flex: 1;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #007bff;
}

.button-container {
  text-align: center;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.back-to-main-page {
  text-align: center;
  margin-top: 20px;
}

.span-text-color {
  color: red;
}