/* .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-group textarea {
    height: 100px;
  }
  
  button[type="submit"],
  button[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  button[type="button"] {
    margin-top: 10px;
    background-color: #b30000;
    color: #fff;
  }
  
  button[type="button"]:hover {
    background-color: #b30000;
  }
  
  .edit-button {
    text-decoration: none;
    color: white;
  }
  
  .edit-button:hover {
    text-decoration: none;
    color: white;
  }
  
   */