.edit-book-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url("D:\Documentos\brain storm\ing.informatica\10 semestre\Aseguramineto de la calidad y pruebas\venta libros\TiendaLibrosUnimayor\frontend\src\pages\GestionLibros\fotolibroopacidad.jpg");
}

.edit-book-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
