/* Contenedor principal para la lista de libros de usuario */
.user-books-container {
  margin: 90px 10px;
  max-width: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Barra de búsqueda */
.search-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #6c4a37;
  border-radius: 5px;
  margin-bottom: 0;
  padding-left: 5px;
}

/* Botón de búsqueda */
.search-bar button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

/* Cuadrícula de libros */
.book-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Tarjeta de libro */
.book-card {
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease; /* Agrega una transición suave */
}

.book-card:hover {
  transform: translateY(-10px); /* Eleva la tarjeta hacia arriba */
}

/* Tarjeta de libro */
.book-card-inside {
  background-color: #ffffff;
  margin-top: 25px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

/* Contenedor principal de contenido */
.book-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* Imagen del libro */
.book-content img {
  max-width: 150px; /* Tamaño máximo para la imagen */
  margin-right: 20px; /* Espacio a la derecha de la imagen */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.55);
}

/* Detalles del libro */
.book-details {
  flex-grow: 1; /* Para que ocupe todo el espacio restante */
}

/* Descripción del libro */
.book-description {
  margin-top: 20px; /* Espacio arriba de la descripción */
}


/* Acciones del libro */
.book-actions {
  display: flex;
  justify-content: flex-end; /* Alinea los elementos a la derecha */
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  margin-top: -30px; /* Ajuste para mover las acciones hacia arriba */
  margin-right: -15px; /* Ajuste para mover las acciones hacia la derecha */
}

/* Estilos adicionales para los botones */
.button-primary,
.button-danger {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
  border: none; /* Elimina el borde de los botones */
}

.button-primary {
  background-color: #8c6751;
  color: #fff;
  border-radius: 5px;
}

.button-primary:hover {
  background-color: #6c4a37;
}

.button-danger {
  background-color: #dc3545;
  color: #fff;
  border-radius: 5px;
}

.button-danger:hover {
  background-color: #c82333;
}

@media (max-width: 1200px) {
  .book-list {
      grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .book-list {
      grid-template-columns: 1fr;
  }
}