.welcome-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .welcome-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .welcome-button {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #007bff; /* Azul fuerte */
    color: #ffffff; /* Texto blanco */
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .welcome-button:hover {
    background-color: #0056b3;
  }
  